body {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  font-family: 'Kanit', sans-serif;
}

a {
  text-decoration: none;

}

.logo_icon {
  padding-left: 10px;
  margin: 20px 10px;
  color: fuschia;
}

.nav_logo{
  display: flex;
  color: fuchsia;
}

.logo_name {
  color: white;
}

.nav_menu_items{
  padding-left: 0px;
  display: flex;
  list-style: none;
}

.nav_menu_items > li {
  padding: 0 10px;
}

.nav_menu_items > li > a {
  color: white;
}

.nav_menu_items > li > a:hover {
  background-color: fuchsia;
  padding: 0 10px;
  border-radius: 10px;
}

.nav_social {
  margin: 16px 0px;
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-right: 10px;
}

.nav_social li {
  padding: 0 10px;
  color: fuschia;
}

.nav_social li {
  padding: 0 5px;
  color: fuchsia;
  justify-content: center;
}

.nav_hamburger {
  position: absolute;
  right: 16px;
  top: 16px;
  display: none;
}

@media screen and (max-width: 768px) {

  .navbar {
    flex-direction: column;
  }

  .nav_logo {
    align-items: flex-start;
  }

  .logo_icon {
    padding-left: 0px;gi
  }

  .nav_menu_items {
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .nav_menu_items li {
    width: 100%;
    text-align: center;
  }

  .nav_menu_items > li:hover {
    width: 90%;
    padding: 0px 10px;
    background-color: fuchsia;
  }

  .nav_social {
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    display: none;
  }

  .nav_hamburger {
    display: block;
  }

  .nav_social.active, 
  .nav_menu_items.active {
    display: flex;
  }


}